<nav class="application-nav navbar navbar-default container">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="application-nav__icon navbar-brand" href="<%= clockface.root_path %>">
        <%= inline_svg "clockface/clockface.svg", height: "100", width: "100" %>
      </a>
      <div class="application-nav__heading"><%= t(".heading") %></div>

      <div class="application-nav__link-container">
        <a class="application-nav__link application-nav__link--tasks<%= " application-nav__link--selected" if params["controller"] == "clockface/tasks" %> navbar-brand" href="<%= clockface.tasks_path %>">
          <span><%= t(".links.tasks") %></span>
        </a>
        <a class="application-nav__link application-nav__link--events<%= " application-nav__link--selected" if params["controller"] == "clockface/events" %> navbar-brand" href="<%= clockface.events_path %>">
          <span><%= t(".links.events") %></span>
        </a>
      </div>
    </div>
  </div>
</nav>
