<div class="container">
  <div class="jobs-edit__heading-banner">
    <h1>
      <%= link_to clockface.jobs_path, class: "jobs-edit__heading-banner-link" do %>
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <% end %>
      <%= t(".heading").downcase %>
    </h1>
  </div>

  <%= render "clockface/application/flash" %>

  <div class="jobs-delete__warning alert alert-danger" role="alert">
    <div class="glyphicon glyphicon-warning-sign"></div>
    <%= t(".warning") %>
  </div>

  <div class="jobs-delete__job-detail container">
    <div class="jobs-delete__job-detail-element jobs-delete__job-detail-element--id form-group">
      <label class="control-label col-sm-2" for="id">
        <%= Clockface::ClockworkScheduledJob.human_attribute_name("id") %>
      </label>

      <div class="col-sm-10">
        <%= @job.id %>
      </div>
    </div>

    <div class="jobs-delete__job-detail-element jobs-delete__job-detail-element--name form-group">
      <label class="control-label col-sm-2" for="name">
        <%= Clockface::ClockworkScheduledJob.human_attribute_name("name") %>
      </label>

      <div class="col-sm-10">
        <%= @job.name %>
      </div>
    </div>

    <div class="jobs-delete__job-detail-element jobs-delete__job-detail-element--period form-group">
      <label class="control-label col-sm-2" for="period">
        <%= Clockface::ClockworkScheduledJob.human_attribute_name("period") %>
      </label>

      <div class="col-sm-10">
        <%= @job.period %>
      </div>
    </div>

    <div class="jobs-delete__job-detail-element jobs-delete__job-detail-element--at form-group">
      <label class="control-label col-sm-2" for="at">
        <%= Clockface::ClockworkScheduledJob.human_attribute_name("at") %>
      </label>

      <div class="col-sm-10">
        <%= @job.at %>
      </div>
    </div>

    <div class="jobs-delete__job-detail-element jobs-delete__job-detail-element--time_zone form-group">
      <label class="control-label col-sm-2" for="time_zone">
        <%= Clockface::ClockworkScheduledJob.human_attribute_name("time_zone") %>
      </label>

      <div class="col-sm-10">
        <%= @job.time_zone %>
      </div>
    </div>

    <div class="jobs-delete__job-detail-element jobs-delete__job-detail-element--if_condition form-group">
      <label class="control-label col-sm-2" for="if_condition">
        <%= Clockface::ClockworkScheduledJob.human_attribute_name("if_condition") %>
      </label>

      <div class="col-sm-10">
        <%= @job.if_condition %>
      </div>
    </div>

    <div class="jobs-delete__job-detail-element jobs-delete__job-detail-element--last_run_at form-group">
      <label class="control-label col-sm-2" for="last_run_at">
        <%= Clockface::ClockworkScheduledJob.human_attribute_name("last_run_at") %>
      </label>

      <div class="col-sm-10">
        <%= raw @job.last_run_at %>
      </div>
    </div>

    <div class="jobs-delete__job-detail-element jobs-delete__job-detail-element--enabled form-group">
      <label class="control-label col-sm-2" for="enabled">
        <%= Clockface::ClockworkScheduledJob.human_attribute_name("enabled") %>
      </label>

      <div class="col-sm-10">
        <span class="<%= @job.enabled? ? "enabled-job" : "disabled-job" %> glyphicon glyphicon-<%= @job.enabled? ? "ok" : "remove" %>" aria-hidden="true">
        </span>
      </div>
    </div>
  </div>

  <div class="jobs-delete__captcha-label">
    <%= raw t(".captcha_label", captcha: @captcha) %>
  </div>

  <%= form_for(@job, url: clockface.job_path(@job), method: "DELETE", html: { class: "form-horizontal" }) do |form| %>
    <%=
      text_field_tag(
        :captcha,
        nil,
        size: Clockface::JobsController::CAPTCHA_LENGTH,
        class: "jobs-delete__form-element--captcha form-control"
      )
    %>

    <div class="form-group">
      <div class="jobs-delete__form-submit col-sm-2">
        <%= link_to clockface.jobs_path do %>
          <button type="button" class="btn btn-default"><%= t(".cancel") %></button>
        <% end %>
        <%= submit_tag(t(".submit"), class: "btn btn-danger") %>
      </div>
    </div>
  <% end %>
</div>
