<!-- TODO: Needs specs -->
<div class="container">
  <h1>Clockface</h1>

  <%= inline_svg "clockface/clock.svg", width: "40px", height: "40px" %>
  <h3>Clockwork Jobs</h3>

  <table class="jobs-index__jobs table table-striped">
    <thead class="thead-inverse">
      <tr class="jobs-index__jobs-header-row">
        <th class="jobs-index__jobs-column jobs-index__jobs-column--id">
          <%= Clockface::ClockworkScheduledJob.human_attribute_name("id") %>
        </th>

        <th class="jobs-index__jobs-column jobs-index__jobs-column--name">
          <%= Clockface::ClockworkScheduledJob.human_attribute_name("name") %>
        </th>

        <th class="jobs-index__jobs-column jobs-index__jobs-column--period">
          <%= Clockface::ClockworkScheduledJob.human_attribute_name("period") %>
        </th>

        <th class="jobs-index__jobs-column jobs-index__jobs-column--at">
          <%= Clockface::ClockworkScheduledJob.human_attribute_name("at") %>
        </th>

        <th class="jobs-index__jobs-column jobs-index__jobs-column--timezone">
          <%= Clockface::ClockworkScheduledJob.human_attribute_name("timezone") %>
        </th>

        <th class="jobs-index__jobs-column jobs-index__jobs-column--if-condition">
          <%= Clockface::ClockworkScheduledJob.human_attribute_name("if_condition") %>
        </th>
      </tr>
    </thead>
    <tbody>
    <% @jobs.each do |job| %>
    <tr class="jobs-index__jobs-row">
      <th scope="row" class="jobs-index__jobs-column jobs-index__jobs-column--id">
        <%= job.id %>
      </th>

      <td class="jobs-index__jobs-column jobs-index__jobs-column--name">
        <%= job.name %>
      </td>

      <td class="jobs-index__jobs-column jobs-index__jobs-column--period">
        <%= job.period %>
      </td>

      <td class="jobs-index__jobs-column jobs-index__jobs-column--at">
        <%= job.at %>
      </td>

      <td class="jobs-index__jobs-column jobs-index__jobs-column--timezone">
        <%= job.timezone %>
      </td>

      <td class="jobs-index__jobs-column jobs-index__jobs-column--if-condition">
        <%= job.if_condition %>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
</div>
